<div class="author">
    <div class="authorBlock">
        <div class="authorBlock-name">
            <p>{{bookArray.author}}</p>
        </div>
        <div class="authorBlock-length">
            <p>{{bookArray.books.length||0}}</p>
        </div>
    </div>

    <div class="editBlock">
        <div><a href="authors" (click)="editingAuthor($event)"
                class="link text-decoration-none text-secondary">Редактировать</a></div>
        <div><a href="authors" (click)="deleteAuthor($event)"
                class="link text-decoration-none text-secondary">Удалить</a></div>
        <div><a href="authors" (click)="details($event)" class="link text-decoration-none text-secondary">Детали</a>
        </div>
    </div>








</div>