<div class="container book_block">
    <form [formGroup]="booksData" novalidate>
        <div class="form-group">
            <div>
                <label for="bookName">Название книги</label>
                <input id="bookName" type="text" formControlName="bookName" placeholder="Домино" class="form-control"
                    [ngClass]="{
                                'is-invalid':bookName.invalid && bookName.dirty,
                                'is-valid':bookName.valid && bookName.dirty
                            }">
                <div class="alert alert-danger"
                    *ngIf="booksData.get('bookName')?.errors?.['textValidator']&&booksData.get('bookName')?.touched">Не
                    верный формат ввода </div>
            </div>
            <br>
            <div>
                <label for="bookGenre">Жанр</label>
                <select id="bookGenre" formControlName="bookGenre" name="select" class="form-control" [ngClass]="{
                                'is-invalid':bookGenre.invalid && bookGenre.dirty,
                                'is-valid':bookGenre.valid && bookGenre.dirty
                            }">
                    <option *ngFor="let item of genresBooks" [value]="item" selected>{{item}}</option>
                </select>
            </div>
            <br>
            <div class="formBlock">
                <label for="bookLength">Количество страниц</label>
                <input id="bookLength" type="number" formControlName="bookLength" placeholder="123" class="form-control"
                    [ngClass]="{
                                'is-invalid':bookLength.invalid && bookLength.dirty,
                                'is-valid':bookLength.valid && bookLength.dirty
                            }">
                <div class="alert alert-danger"
                    *ngIf="booksData.get('bookLength')?.errors?.['strValidator']&&booksData.get('bookLength')?.touched">
                    Не
                    верный формат ввода </div>
            </div>
            <br>
        </div>


        <input type="button" value="Сохранить книгу" (click)="addBook(booksData)" class="btn btn-outline-secondary">
    </form>
</div>