<main class="container">
  <nav class="nav_block">
    <img src="../assets/logo.png" alt="logo">

    <div class="nav_main">
      <div class="nav_main-logo_text">
        AMAZON BOOKS

      </div>
      <div class="main_main-block">
        <a routerLink="authors" class="main-block_link" routerLinkActive="active">Авторы</a>
        <a routerLink="genres" class="main-block_link" routerLinkActive="active">Жанры</a>
        <a routerLink="" class="main-block_link" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Поиск
          книги</a>

      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</main>