::placeholder {
  color: lightgray;
}
.container-form_author-books {
  padding-top: 50px;
  margin-bottom: 50px;
}
.container-form_author-books_block {
  display: flex;
  flex-wrap: wrap;
}
.author-books_data {
  margin-top: 20px;
  min-width: 200px;
  max-width: 30%;
}
