input.ng-valid {
  border: 1px solid green;
}
input.ng-invalid {
  border: 1px solid red;
}
select.ng-valid {
  border: 1px solid green;
}
select.ng-invalid {
  border: 1px solid red;
}
:host {
  width: 90%;
  margin: 0 auto;
}
.container-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.container-form input {
  width: 70%;
  min-width: 100px;
  padding: 5px;
  border-radius: 5px;
}
.container-form select {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
}
.container-form_author {
  width: 60%;
}
.container-form_book {
  min-width: 40%;
}
.add-book {
  margin-top: 20px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
}

.container-form_author-books {
  padding-top: 50px;
  text-align: center;
  width: 70%;
  margin-bottom: 50px;
}
.author-books_data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.edit-block {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: flex-start;
  justify-content: space-evenly;
  align-self: stretch;
}
.edit-block a {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.edit-block div {
  margin: 10px;
}
.author-books_data-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.save {
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  padding: 5px 15px;
  align-self: center;
}
.save-book {
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  padding: 5px 15px;
  align-self: center;
  margin-top: 20px;
}
:host span {
  color: red;
  padding-left: 10px;
  font-size: 14px;
  font-style: italic;
}
