<div class="container">
    <form novalidate [formGroup]="mainForm" (ngSubmit)="addAuthorToDataBook(mainForm) " style="margin-bottom: 200px;">
        <div>
            <div>
                <h2 style="text-align: center;">Редактор автора </h2>
                <div class="form-group">
                    <div>
                        <label for="firstName">Фамилия</label>
                        <input id="firstName" type="text" formControlName="firstName" placeholder="Иванов"
                            class="form-control" [ngClass]="{
                                'is-invalid':firstName.invalid && firstName.dirty,
                                'is-valid':firstName.valid && firstName.dirty
                            }">
                        <div class="alert alert-danger"
                            *ngIf="mainForm.get('firstName')?.errors?.['textValidator']&&mainForm.get('firstName')?.touched">
                            Не
                            верный формат ввода </div>
                        <div class="alert alert-danger"
                            *ngIf="mainForm.get('firstName')?.errors?.['minlength']&&mainForm.get('firstName')?.touched">
                            Минимальное
                            количество символов
                            {{mainForm.get('firstName')?.errors?.['minlength'].requiredLength}}</div>
                    </div>
                    <br>
                    <div>
                        <label for="secondName">Имя</label>
                        <input id="secondName" type="text" formControlName="secondName" placeholder="Иван"
                            class="form-control" [ngClass]="{
                                'is-invalid':secondName.invalid && secondName.dirty,
                                'is-valid':secondName.valid && secondName.dirty
                            }">
                        <div class="alert alert-danger"
                            *ngIf="mainForm.get('secondName')?.errors?.['textValidator']&&mainForm.get('secondName')?.touched">
                            Не
                            верный формат ввода </div>
                        <div class="alert alert-danger"
                            *ngIf="mainForm.get('secondName')?.errors?.['minlength']&&mainForm.get('secondName')?.touched">
                            Минимальное
                            количество символов
                            {{mainForm.get('secondName')?.errors?.['minlength'].requiredLength}}</div>
                    </div>
                    <br>
                    <div>
                        <label for="thirdName">Отчество</label>
                        <input id="thirdName" type="text" formControlName="thirdName" placeholder="Иванович"
                            class="form-control" [ngClass]="{
                                'is-invalid':thirdName.invalid && thirdName.dirty,
                                'is-valid':thirdName.valid && thirdName.dirty
                            }">
                        <div class="alert alert-danger"
                            *ngIf="mainForm.get('thirdName')?.errors?.['textValidator']&&mainForm.get('thirdName')?.touched">
                            Не
                            верный формат ввода </div>
                    </div>
                    <br>
                    <div>
                        <label for="birthDay">Дата рождения</label>
                        <input id="birthDay" type="text" formControlName="birthDay" placeholder="01.01.1900"
                            class="form-control" [ngClass]="{
                                'is-invalid':birthDay.invalid && birthDay.dirty,
                                'is-valid':birthDay.valid && birthDay.dirty
                            }">
                        <div class="alert alert-danger"
                            *ngIf="mainForm.get('birthDay')?.errors?.['birthDayValidator']&&mainForm.get('birthDay')?.touched">
                            Не
                            верный формат ввода </div>
                    </div>
                    <br>
                </div>
                <div class="container-form_author-books">
                    <h2>Книги</h2>

                    <div class="container-form_author-books_block">
                        <div *ngFor="let book of books">
                            <div class="author-books_data card">
                                <div class="card-body">
                                    <p class="card-text">Название : {{book?.name}}</p>
                                    <p class="card-text">Жанр : {{book?.genre}} </p>
                                    <p class="card-text">Страницы : {{book?.str}}</p>
                                </div>
                                <div class="card-footer">
                                    <div>
                                        <a href="#" (click)="changeBook($event,book)"
                                            class="link text-decoration-none text-secondary">Редактировать</a>

                                    </div>
                                    <div>
                                        <a href="#" (click)="deleteBook($event,book.id)"
                                            class="link text-decoration-none text-secondary">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div style="margin-top: 20px;">
                    <a href="authors" (click)="addBookToDataBooks($event)" class="btn btn-outline-secondary">Добавить
                        Книгу</a>
                </div>

                <div formGroupName="booksData" *ngIf="addBookCheck">
                    <div class="form-group">
                        <div style="margin-top:20px ;">
                            <label for="bookName">Название книги</label>
                            <input id="bookName" type="text" formControlName="bookName" placeholder="Домино"
                                class="form-control" [ngClass]="{
                                'is-invalid':bookName.invalid && bookName.dirty,
                                'is-valid':bookName.valid && bookName.dirty
                            }">
                            <div class="alert alert-danger"
                                *ngIf="mainForm.get('booksData')?.get('bookName')?.errors?.['textValidator']&&mainForm.get('booksData')?.get('bookName')?.touched">
                                Не
                                верный формат ввода </div>
                        </div>
                        <br>
                        <div>
                            <label for="bookGenre">Жанр</label>
                            <select id="bookGenre" formControlName="bookGenre" name="select" class="form-control"
                                [ngClass]="{
                                'is-invalid':bookGenre.invalid && bookGenre.dirty,
                                'is-valid':bookGenre.valid && bookGenre.dirty
                            }">
                                <option *ngFor="let item of genresBooks" [value]="item" selected>{{item}}</option>
                            </select>
                        </div>
                        <br>
                        <div class="formBlock">
                            <label for="bookLength">Количество страниц</label>
                            <input id="bookLength" type="number" formControlName="bookLength" placeholder="123"
                                class="form-control" [ngClass]="{
                                'is-invalid':bookLength.invalid && bookLength.dirty,
                                'is-valid':bookLength.valid && bookLength.dirty
                            }">
                            <div class="alert alert-danger"
                                *ngIf="mainForm.get('booksData')?.get('bookLength')?.errors?.['strValidator']&&mainForm.get('booksData')?.get('bookLength')?.touched">
                                Не
                                верный формат ввода </div>
                        </div>
                        <br>
                    </div>

                    <input type="button" value="Сохранить книгу" class="btn btn-outline-secondary"
                        (click)="addBook(mainForm)">
                </div>
            </div>
        </div>









        <br>
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary">

    </form>
</div>